

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
/composer.lock
*.zip

/vendor/*
/composer.lock
/node_modules
npm-debug.log
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
